* {
  background: #526c7d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

h1 {
  color: #ffba17;
  letter-spacing: 4px;
}

button {
  /* border: none; */
  /* letter-spacing: 3px; */
  background: #ffba17;
  border-radius: 5px;
  border: 1px solid gray;
  color: #526c7d;
  font-weight: bold;
  padding: 5px;
}

input {
  border: 1px solid white;
  font-size: 15px;
  margin-top: 10px;
  width: 30%;
}

.cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border-radius: 6px;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}